.java-snippet {
    border-collapse: collapse;
    font-family: courier new;
    font-size: 10pt;
}

.java-snippet .left {
    padding: 0;
    padding-right: 10px;
    border-right: 1px solid #D4D0C8;
    text-align: right;
}

.java-snippet .left a {
    display: block;
    color: #787878;
    text-decoration: none;
}

.java-snippet .left a:hover {
    text-decoration: underline;
}

.java-snippet .right {
    padding: 0;
}

.java-snippet .keyword {
    font-weight: bold;
    color: #7F0055;
}

.java-snippet .string {
    color: #2A00FF;
}

.java-snippet .comment {
    color: #3F7F5F;
}

.java-snippet .formal_comment {
    color: #3F5FBF;
}

.java-snippet .annotation {
    color: #646464;
}