form {
    margin: 0;
}

form .row {
    margin-bottom: 10px;
}

form label {
    float: left;
    width: 125px;
    font-weight: bold;
    color: #42423D;
}

input, select {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

input[type=text], input[type=password] {
    width: 200px;
}

input[type=text].date {
    width: 75px;
}

form textarea {
    width: 300px;
    height: 100px;
}

form textarea.snippet {
    width: 400px;
    height: 400px;
}

form .error {
    margin-left: 125px;
    padding-left: 16px;
    background: url("/images/bullet_error.png") no-repeat;
    color: #FF0000;
}

form .right_col {
    margin-left: 125px;
}