#header-wrapper {
	height: 100px;
}

#header {
	margin: 0 auto;
	width: 900px;
}

#bar {
	margin: 0 auto;
	width: 900px;
}

#main {
	margin: 0 auto;
	width: 900px;
}

#content {
	margin-right: 298px;
	padding: 10px 0;
}

#sidebar {
	float: right;
	width: 288px;
	padding: 10px 0;
}

#footer-wrapper {
	clear: right;
}

#footer {
	margin: 0 auto;
	width: 900px;
}