/* body */

body {
    margin: 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    color: #42423D;
}

/* layout */

#header-wrapper {
    height: 100px;
    background-color: #1A1613;
    border-bottom: 1px solid #FFFFFF;
}

#header {
    margin: 0 auto;
    width: 900px;
}

#bar-wrapper {
    padding: 5px 0;
    background-color: #E9E7E0;
    border-bottom: 1px solid #D3D3D1;
}

#bar {
    margin: 0 auto;
    width: 900px;
}

#main {
    margin: 0 auto;
    width: 900px;
}

#content {
    margin-right: 298px;
    padding: 10px 0;
}

#sidebar {
    float: right;
    width: 288px;
    padding: 10px 0;
}

#footer-wrapper {
    clear: right;
    background-color: #42423D;
    border-top: 1px solid #000000;
}

#footer {
    margin: 0 auto;
    width: 900px;
    padding: 10px 0;
    color: #B8AF8B;
}

#footer a {
   color: #E9E7E0;
}

#footer a:hover {
    text-decoration: none;
}

ul#pvalue, ul#pvalue li{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/* logo */

#logo {
    position: absolute;
    top: 42px;
}

/* menu */

#nav {
    position: absolute;
    top: 75px;
    margin: 0 0 0 200px;
    padding: 0;
}

#nav li {
    display: inline;
}

#nav a {
    text-decoration: none;
    color: #B8AF8B;
    padding: 5px;
}

#nav a:hover {
    background-color: #AE0000;
    color: #FFFFFF;
}

/* sidebox */

.sidebox {
    background: url("/images/sb-top.gif") no-repeat;
    padding-top: 17px;
}

.sidebox .bottom {
    background: url("/images/sb-bottom.gif") no-repeat bottom;
    padding-bottom: 16px;
}

.sidebox .content {
    background: url("/images/sb-bg.gif") repeat-y;
    padding: 1px 10px;
}

/* right aligned */

.right-aligned {
    float: right;
}

/* snippets sidebar */

#sidebar-snippets ol {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#sidebar-snippets ol li {
    margin-bottom: 10px;
}

#sidebar-snippets ol li h3 {
    margin: 0;
    margin-bottom: 5px;
}

/* tags sidebar */

#sidebar-tags .tag-cloud {
    margin: 10px 0;
}

/* search */

ol.search-results {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.search-results li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DFDDD5;
}

ul.search-page-numbers {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.search-page-numbers li {
    display: inline;
}

ul.search-page-numbers li span {
    padding: 4px 8px;
    background-color: #232323;
    color: #FFFFFF;
}

ul.search-page-numbers li a {
    padding: 4px 8px;
    background-color: #AE0000;
    color: #FFFFFF;
    text-decoration: none;
}

ul.search-page-numbers li a:hover {
    background-color: #232323;
}

/* message */

p.info {
    margin: 0;
    padding-left: 32px;
    line-height: 32px;
    background: url("/images/info.png") no-repeat;
}

p.error {
    margin: 0;
    padding-left: 32px;
    line-height: 32px;
    background: url("/images/error.png") no-repeat;
}

/* hr */

.hr {
    margin: 10px 0;
    height: 1px;
    background: url("/images/hr.gif") repeat-x;
}

/* TAG CLOUD */

ul.tag_cloud {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: normal;
    text-align: center;
}

ul.tag_cloud li {
    display: inline;
}

ul.tag_cloud li.rank_1 {
    font-size: 0.7em;
    font-weight: 100;
}

ul.tag_cloud li.rank_2 {
    font-size: 0.8em;
    font-weight: 200;
}

ul.tag_cloud li.rank_3 {
    font-size: 0.9em;
    font-weight: 300;
}

ul.tag_cloud li.rank_4 {
    font-size: 1.0em;
    font-weight: 400;
}

ul.tag_cloud li.rank_5 {
    font-size: 1.2em;
    font-weight: 500;
}

ul.tag_cloud li.rank_6 {
    font-size: 1.4em;
    font-weight: 600;
}

ul.tag_cloud li.rank_7 {
    font-size: 1.6em;
    font-weight: 700;
}

ul.tag_cloud li.rank_8 {
    font-size: 1.8em;
    font-weight: 800;
}

ul.tag_cloud li.rank_9 {
    font-size: 2.2em;
    font-weight: 900;
}

ul.tag_cloud li.rank_10 {
    font-size: 2.5em;
    font-weight: 900;
}

ul.tag_cloud li a {
    padding: 0 0.2em;
}

ul.tag_cloud li a:hover {
    background-color: #AE0000;
    text-decoration: none;
}

ul.few_tags li a:hover {
    color: #E9E7E0;
}

ul.all_tags li a:hover {
    color: #FFFFFF;
}

/* form */

.form {
    margin: 0;
}

.form .row {
    margin-bottom: 10px;
}

.form label {
    float: left;
    width: 125px;
    font-weight: bold;
    color: #42423D;
}

.form label em.required {
    color: #AE0000;
}

input, select {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

input[type=text], input[type=password] {
    width: 200px;
}

input[type=text].date {
    width: 75px;
}

.form textarea {
    width: 300px;
    height: 100px;
}

.form textarea.body {
    width: 400px;
    height: 400px;
}

.form .error {
    margin-left: 125px;
    padding-left: 16px;
    background: url("/images/bullet_error.png") no-repeat;
    color: #FF0000;
}

.form .right_col {
    margin-left: 125px;
}

/* code wrapper */

.code-wrapper {
    width: 600px;
    overflow: auto;
}