.sidebox {
    background: url("/images/sb-top.gif") no-repeat;
    padding-top: 17px;
}

.sidebox .bottom {
    background: url("/images/sb-bottom.gif") no-repeat bottom;
    padding-bottom: 16px;
}

.sidebox .content {
    background: url("/images/sb-bg.gif") repeat-y;
    padding: 1px 10px;
}